<div class="container">
	<div class="well text-center">
		<p class="lead">
			Check out my GitHub account, send me an email, or visit my LinkedIn profile
		</p>
	</div>
	<div class="col-md-4">
		<div class="contact_icon">
			<a href="https://github.com/npaul-dev"><img src="img/github.png" class="img-responsive"></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="contact_icon">
			<a href="mailto:nathan.m.paul@live.com"><img src="img/email.png" class="img-responsive"></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="contact_icon">
			<a href="http://www.linkedin.com/in/nathanmpaul/"><img src="img/linkedin.png" class="img-responsive"></a>
			</div>
	</div>
</div>